
.Form input{
    margin: 10px 20px;
    width: 300px;
    height: 30px;
    border: 1px solid #9ec3b9;
    border-radius: 5px;
}

.Form button{
    color: white;
    background-color: #13ad89;
    border: none;
    padding: 7px;
    cursor: pointer;
    width: 120px;
    border-radius: 8px;
}

.Form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width:720px){
    .Form{
        flex-direction: column;
    }
    .Form input {
        width: 70%;
    }
}